body {
  background-color:black;
  background-image: url(http://imgur.com/IHCs201);
  background-repeat: repeat-y;
}

* {
  font-family:American Typewriter, sans-serif;
  font-color: white;
  text-align: center;
}

a {
  text-decoration: none;
  color: white;
  padding-left: 20px;
  padding-right:20px;
}

a:hover {
  text-size: 24px;
}

h1 {
  color:white;
  letter-spacing: 15px;
}

#links {
  padding: 10px;

}

.clip-circle{
  background:url(https://images.blogthings.com/thecolorfulpatterntest/pattern-4.png) no-repeat;
  background-size:400px 400px;
  background-position:-160px 0px;
  height:200px;
  width:200px;
  border-radius:50%;
  overflow:hidden;
  margin:auto;
}

#content {
  height: 800px;
}