body {
  background-color:black;
}

* {
  font-family:American Typewriter, sans-serif;
  font-color: white;
  text-align: center;
}

a {
  text-decoration: none;
  color: white;
  padding-left: 20px;
  padding-right:20px;
}

a:hover {
  text-size: 24px;
}

h1 {
  color:white;
  letter-spacing: 15px;
}

#links {
  padding: 10px;

}

.clip-circle{
  background:url(https://lh5.googleusercontent.com/-UL-JhrZjFi4/UcCSPclrNZI/AAAAAAAABZI/HgqJTFcJ7D8/w800-h533-no/Baboon_Wikimedia.jpg) no-repeat;
  background-size:720px 480px;
  background-position:-160px 0px;
  height:480px;
  width:480px;
  border-radius:50%;
  overflow:hidden;
  margin:auto;
}

#content {
  height: 800px;
}