body {
  background-color:black;
}

* {
  font-family:American Typewriter, sans-serif;
  font-color: white;
  text-align: center;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-size: 24px;
}

h1 {
  color:white;
}

#links {

}

