body#home,
body#about {
  text-align: center;
  overflow-y: hidden;
  display: table;
  width: 100%;
  height: 100%;
  margin: 0;
}
body#home .centered,
body#about .centered {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
}
body#home .centered .content-container,
body#about .centered .content-container {
  position: relative;
  padding: 22px;
  background-color: aliceblue;
  width: 56%;
  margin: 0 auto;
}
body#home .centered .content-container a,
body#about .centered .content-container a {
  font-family: monospace;
  margin: 10px;
}
body#home .centered h4,
body#about .centered h4 {
  font-family: 'Satisfy';
  color: #ff1493;
  position: absolute;
  opacity: 0.7;
  bottom: -143px;
  font-size: 96px;
  right: 103px;
}
body#home .centered h1,
body#about .centered h1 {
  font-family: 'Open Sans';
  font-weight: 800;
  font-style: italic;
  color: #5566f1;
  font-size: 90px;
  margin: 0;
  right: 0;
  left: 0;
  position: relative;
  z-index: 1;
  letter-spacing: -9px;
  margin-bottom: 15px;
}
body#home .centered h1.overlay,
body#about .centered h1.overlay {
  color: #00ff00;
  letter-spacing: -9px;
  font-size: 87px;
  opacity: 0.5;
  top: 25px;
  z-index: 0;
  position: absolute;
}
