#half {
width:51%;
height:800px;
background-color:black;
position:absolute;
}

.clip-circle {
background:url(https://images.blogthings.com/thecolorfulpatterntest/pattern-4.png) no-repeat;
background-size: 400px 400px;
background-position: 0px 0px;
height: 150px;
width: 150px;
border-radius:50%;
overflow:hidden;
margin-top:200px;
margin-left:43.5%;
position:absolute;
}

* {
font-family: American Typewrite, sans-serif;
color:black;
font-weight:lighter;
}

a {
text-decoration:none;
font-size:24px;
font-variant: small-caps;
}

#right {
float:right;
margin:10%;
clear:none;
position:relative;
margin-top:275px;
}

#left {
float:left;
margin:10%;
clear:none;
position:relative;
margin-top:275px;
}

#left a {
color:white;
}

@media (max-width:600px) {
.clip-circle {
margin-left:40%;
}
#half {
width:54%;
}
}

@media (max-height:800px) {
#right
#left
.clip-circle {
margin-top:150px%;
}
}