body {
background-color:white;
}

.clip-circle {
background:url(https://images.blogthings.com/thecolorfulpatterntest/pattern-4.png) no-repeat;
background-size: 400px 400px;
background-position: 0px 0px;
height: 200px;
width: 200px;
border-radius:50%;
overflow:hidden;
margin:0;
}

*{
font-family: American Typewriter, sans-serif;
color:white;
font-weight:lighter;

}

a {
text-decoration:none;
font-size:24px;
}

h1 {
margin-left:-37.5px;
color:black;
width:275px;
clear:both;
}

#links {
float:right;
margin-right:25%;
margin-top:100px;
line-height:50px;
border-left: 2px solid gray;
background-color:black;
width:200px;
height: 250px;
position:inherit;

}

#left {
float:left;
margin-top:100px;
margin-left:30%;
}

@media (max-width:890px) {

#left {
  margin-left:50%;
}

#links {
  clear:both;
  float:none;
  margin-left: 50%;
}
