body {
background-color:white;
}

.clip-circle {
background:url(https://images.blogthings.com/thecolorfulpatterntest/pattern-4.png) no-repeat;
background-size: 400px 400px;
background-position: 0px 0px;
height: 200px;
width: 200px;
border-radius:50%;
overflow:hidden;
margin:94%;
}

*{
font-family: American Typewriter, sans-serif;
color:white;
font-weight:lighter;

}

a {
text-decoration:none;
font-size:24px;
}

h1 {
margin-left:15%%;
color:black;
position:absolute;
width:275px;
clear:both;
}

#links {
float:right;
margin-right:25%;
margin-top:-200px;
line-height:50px;
border-left: 2px solid gray;
background-color:black;
width:200px;
height: 310px;
clear:both;
}

#left {
float:left;
margin-top:35px;
}

@media (max-width:890px) {

#links {
float:left;
clear:both;
border-left:none;
margin-left:15%
}

.clip-circle {
margin-left: 40%;
}

h1 {
margin-left:15%;
}
}
