.clip-circle{
  background:url(https://images.blogthings.com/thecolorfulpatterntest/pattern-4.png) no-repeat;
  background-size:400px 400px;
  background-position:0px 0px;
  height:200px;
  width:200px;
  border-radius:50%;
  overflow:hidden;
  margin:auto;
}

h1{
  margin:auto;
  font-family:American Typewriter, sans-script;
  font-weight:bolder;
  }

#links a{
  padding: 10px;
  text-decoration: none;

}
* {
  font-family:American Typewriter, sans-serif;
  text-align: center;
  font-weight: lighter;
}

#projects {
  margin:auto;
  ;
}

li {
  text-decoration:none;
  line-height: 10px;
}

ul {
  list-style: none;
}